@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br><br>
    <input id="input1" placeholder=" Ingrese un texto" type="text"/>
    <button type="button" onclick="Saluda()" class="btn btn-success">Saluda</button>
    <button type="button" onclick="Despidete()" class="btn btn-outline-danger">Despidete</button>
</div>
